body{
    background-color: aliceblue;
    color:#333333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header h1{
    color: #2e8b57;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 3em;
}

h2{
    color: #4682b4;
    font-family: Georgia, serif;
}

img{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #4682b4;
}

footer{
    margin-top: 20px;
    font-style: italic;
    color: #555555;
}